#wrapper{
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

#logo{
	float: left;
	width: 110px;
	margin-top 18px;
}

#nav{
	float:right;
	margin-top:42px;
}

#slider{
	width: 1024px;
	height: 500px;
}


#nav ul li{
	display:inline-block;
}

#nav ul li a{
	border:1px solid red;
	text-decoration:none;
	margin-right: 25px;
}

.col{
	float:left;
	width:33%;
	border: 1px solid black;
}

.col .block{
	padding:10px 20px;
}

.col .attribute-header{
	padding:10px 0px;
}
.col .attribute-header h2{
	padding:0px 10px;
	border-left:4px solid #ffcc00;
}

#col1,
#col3{
	background:#ccc;

}


